<section class="craw-insta" data-scroll-section>
    <div class="foot-ticker" data-scroll>
        <div class="foot-ticker-heading">Latest Creations <a href="https://www.instagram.com/crawfordstoneco/">@crawfordstoneco</a></div>
        <div id="footTicker" class="owl-theme owl-carousel"></div>
        {% for block in section.blocks %}
        {% case block.type %}
          {% when '@app' %}
            {% render block %}
          {% endcase %}
        {% endfor %}
      </div>
</section>




<script>
    const accessToken = '{{ section.settings.token }}';
  const apiUrl = `https://graph.instagram.com/me/media?fields=id,caption,media_type,media_url&access_token=${accessToken}`;
  fetch(apiUrl).then(response => response.json()).then(data => {

// Process the data and extract the media URLs for posts with media_type "IMAGE"
    const posts = data.data;
    const imagePosts = posts.filter(post => post.media_type === 'CAROUSEL_ALBUM');
    const mediaUrls = imagePosts.map(post => post.media_url);
    console.log("these are the posts: ", posts);
    console.log("these are the images link: ", mediaUrls);

// Get the feedContainer element
    const feedContainer = document.getElementById('footTicker');

// Loop through mediaUrls and create an .item for each image
    mediaUrls.forEach(url => {
      const itemElement = document.createElement('div');
      itemElement.classList.add('item');
       itemElement.classList.add('tick-img');

      const imageElement = document.createElement('img');
      imageElement.src = url;

// Append the image to the .item
      itemElement.appendChild(imageElement);

// Append the .item to the feedContainer
      feedContainer.appendChild(itemElement);
    });
  $('.foot-ticker .owl-carousel').owlCarousel({
    loop: true,
    margin:0,
    responsiveClass: true,
    nav: false,
    dots: false,
    items: 4,
    slideTransition: 'linear',
    autoplay: true,
    autoplayTimeout: 5000,
    autoplaySpeed: 5000,
    autoplayHoverPause: false,
    touchDrag: false,
    mouseDrag: false,
    responsive: {
      0: {
        items: 2
      },
      767: {
        items: 3
      },
      991: {
        items: 4
      }
    }
  });
 }).catch(error => {
console.error('Error fetching Instagram posts:', error); } );
</script>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "type": "text",
        "id": "token",
        "label": "Token for Instagram"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
