<section
  class="login-signup-page"
  data-scroll-section
  style="background-image: url({{ section.settings.Img |  img_url: 'master' }}); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="container" style="min-height: 100vh">
    <div class="customer-con login">
      <div class="customer-wrapper reset-pass">
        <div class="forgot-pass-wrapper">
          <div class="head">
            <h2>{{ section.settings.head }}</h2>
          </div>
          <div class="form">
            {% form 'reset_customer_password' %}
              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
              <div class="form-con-wrapper reset-page">
                <div class="form-con">
                  <label for="email">New Password</label>
                  <input
                    type="password"
                    name="customer[password]"
                    id="password"
                    autocomplete="new-password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    required
                    placeholder="Password">
                </div>
                <div class="form-con">
                  <label for="email">Confirm Password</label>
                  <input
                    type="password"
                    name="customer[password_confirmation]"
                    id="password_confirmation"
                    autocomplete="new-password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    required
                    placeholder="Confirm your password">
                </div>
              </div>
              <div class="form-con submit-but reset">
                <button class="custom-button" type="submit">
                  {{ section.settings.fg-cta-txt }}
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Reset Password Page",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section heading"
      }, {
        "type": "image_picker",
        "id": "Img",
        "label": "Background Image"
      }, {
        "type": "text",
        "id": "fg-cta-txt",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}